In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = "Data/clean_data.csv"

data = pd.read_csv(path)
data.head()

,Unnamed: 0,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,...,bedrooms,beds,zip_lat,zip_lng,city_y,state_id,state_name,population,density,county_name
0,6,11825529,4.418841,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",3,1.0,Real Bed,moderate,...,1.0,1.0,33.97831,-118.44761,Marina Del Rey,CA,California,21576.0,4091.9,Los Angeles
1,7,13971273,4.787492,Condominium,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Wheelchair...",2,1.0,Real Bed,moderate,...,1.0,1.0,34.03939,-118.26645,Los Angeles,CA,California,18986.0,4285.4,Los Angeles
2,9,5385260,3.583519,House,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1.0,Real Bed,moderate,...,1.0,1.0,33.97661,-117.89970,Rowland Heights,CA,California,45406.0,1211.8,Los Angeles
3,11,17423675,5.010635,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.5,Real Bed,strict,...,2.0,2.0,33.86546,-118.39665,Hermosa Beach,CA,California,19506.0,5278.8,Los Angeles
4,12,14066228,4.248495,Apartment,Private room,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",2,1.0,Real Bed,flexible,...,1.0,1.0,33.83077,-118.38458,Redondo Beach,CA,California,35293.0,3804.3,Los Angeles

In [3]:
data.drop(data.columns[[0]], axis=1, inplace=True)
data.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,bedrooms,beds,zip_lat,zip_lng,city_y,state_id,state_name,population,density,county_name
0,11825529,4.418841,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",3,1.0,Real Bed,moderate,True,...,1.0,1.0,33.97831,-118.44761,Marina Del Rey,CA,California,21576.0,4091.9,Los Angeles
1,13971273,4.787492,Condominium,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Wheelchair...",2,1.0,Real Bed,moderate,True,...,1.0,1.0,34.03939,-118.26645,Los Angeles,CA,California,18986.0,4285.4,Los Angeles
2,5385260,3.583519,House,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1.0,Real Bed,moderate,True,...,1.0,1.0,33.97661,-117.89970,Rowland Heights,CA,California,45406.0,1211.8,Los Angeles
3,17423675,5.010635,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.5,Real Bed,strict,True,...,2.0,2.0,33.86546,-118.39665,Hermosa Beach,CA,California,19506.0,5278.8,Los Angeles
4,14066228,4.248495,Apartment,Private room,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",2,1.0,Real Bed,flexible,True,...,1.0,1.0,33.83077,-118.38458,Redondo Beach,CA,California,35293.0,3804.3,Los Angeles

In [16]:
# GroupBy Host timestamp and City and and Property type 
host_listings= data[["id","host_since","city_y","property_type","log_price","review_scores_rating"]]
citydf=host_listings.dropna()
citydf

,id,host_since,city_y,property_type,log_price,review_scores_rating
0,11825529,2017-03-03,Marina Del Rey,Apartment,4.418841,97.0
1,13971273,2013-05-18,Los Angeles,Condominium,4.787492,93.0
2,5385260,2017-03-12,Rowland Heights,House,3.583519,90.0
3,17423675,2015-06-11,Hermosa Beach,House,5.010635,97.0
5,583490,2012-11-20,Long Beach,Apartment,4.955827,100.0
6,7264511,2016-01-11,Van Nuys,House,4.382027,98.0
7,3563677,2014-11-28,Los Angeles,Apartment,4.905275,99.0
8,17615783,2012-07-12,Van Nuys,House,4.007333,100.0
9,851978,2015-09-26,Los Angeles,Apartment,5.192957,95.0
11,8908966,2011-10-07,Venice,Apartment,5.220356,96.0
12,10994968,2011-04-01,Los Angeles,House,4.488636,99.0
15,12428036,2015-07-13,Los Angeles,Apartment,4.317488,92.0
16,4014942,2014-08-24,Los Angeles,Apartment,4.997212,95.0
17,11376382,2017-02-13,Marina Del Rey,Apartment,5.783825,80.0
19,9471893,2016-06-06,Venice,House,5.857933,93.0
21,16474211,2014-08-11,Los Angeles,Apartment,4.499810,100.0
22,20269518,2016-11-27,North Hollywood,Apartment,4.691348,100.0
23,19247305,2014-12-06,Los Angeles,Apartment,4.779123,89.0
24,11095719,2014-03-10,Los Angeles,Apartment,4.499810,100.0
27,15956956,2013-03-07,Los Angeles,Apartment,5.164786,100.0
28,6972777,2013-11-29,Monrovia,House,3.806662,80.0
29,18840866,2016-06-29,Burbank,Apartment,5.087596,84.0
30,20761244,2017-01-05,Culver City,Condominium,3.871201,92.0
31,3976798,2013-11-05,Los Angeles,House,5.560682,100.0
32,1008814,2012-04-25,Los Angeles,House,4.605170,100.0
33,10132073,2012-11-07,Studio City,Apartment,4.007333,99.0
34,14900814,2013-07-03,Los Angeles,House,6.171701,96.0
35,11593024,2014-02-08,Los Angeles,House,6.551080,99.0
37,8336708,2017-01-09,Rowland Heights,House,4.060443,100.0
38,25827,2010-07-30,Los Angeles,House,5.634790,90.0
...,...,...,...,...,...,...
22095,18055117,2012-11-29,Los Angeles,Apartment,5.129899,98.0
22096,16274951,2016-01-12,Los Angeles,Apartment,4.595120,96.0
22097,12191750,2011-10-05,Long Beach,House,5.192957,90.0
22098,6662905,2016-08-28,Los Angeles,House,4.077537,96.0
22099,15123831,2012-06-04,Los Angeles,Townhouse,4.779123,91.0
22100,16782117,2014-07-25,Los Angeles,Apartment,4.382027,100.0
22101,6044620,2016-03-16,Los Angeles,Apartment,4.787492,88.0
22102,20980071,2016-05-15,San Dimas,House,3.688879,96.0
22103,19744093,2015-09-05,Pasadena,Townhouse,4.653960,94.0
22106,7980191,2014-06-11,Los Angeles,House,4.442651,98.0
22107,6732541,2015-09-01,Studio City,House,5.075174,100.0
22108,15115733,2014-06-22,Gardena,House,4.007333,92.0
22110,11973518,2013-08-23,Venice,Apartment,5.703782,93.0
22112,1453049,2014-04-28,Los Angeles,Apartment,4.174387,92.0
22114,189787,2016-06-22,Los Angeles,Villa,6.907755,100.0
22115,9253750,2014-06-29,West Hollywood,House,4.779123,99.0
22116,20781985,2016-06-09,Los Angeles,House,4.605170,87.0
22117,15917355,2015-11-12,Los Angeles,House,5.587249,87.0
22118,9390900,2014-12-08,Altadena,House,4.605170,100.0
22120,7621698,2016-05-09,Northridge,Bed & Breakfast,4.595120,100.0
22122,4278067,2014-11-11,Los Angeles,House,4.859812,94.0
22123,9826494,2014-12-20,Pasadena,House,4.174387,98.0
22125,15042259,2013-06-29,Los Angeles,Apartment,4.477337,100.0
22127,8342838,2014-10-28,Los Angeles,Apartment,4.553877,88.0
22128,4615631,2015-11-10,Los Angeles,Condominium,4.276666,96.0
22129,18077717,2014-04-01,Santa Monica,Apartment,4.584967,90.0
22130,7935934,2013-07-01,West Hills,Villa,4.110874,80.0
22131,808802,2015-03-18,Los Angeles,House,4.248495,91.0
22132,13281809,2016-05-03,Hermosa Beach,Apartment,5.043425,93.0
22133,3534845,2012-11-26,Long Beach,Boat,4.852030,96.0

In [25]:
citydf.sort_values('host_since',ascending=True)
citydf.dropna()

,id,host_since,city_y,property_type,log_price,review_scores_rating
0,11825529,2017-03-03,Marina Del Rey,Apartment,4.418841,97.0
1,13971273,2013-05-18,Los Angeles,Condominium,4.787492,93.0
2,5385260,2017-03-12,Rowland Heights,House,3.583519,90.0
3,17423675,2015-06-11,Hermosa Beach,House,5.010635,97.0
5,583490,2012-11-20,Long Beach,Apartment,4.955827,100.0
6,7264511,2016-01-11,Van Nuys,House,4.382027,98.0
7,3563677,2014-11-28,Los Angeles,Apartment,4.905275,99.0
8,17615783,2012-07-12,Van Nuys,House,4.007333,100.0
9,851978,2015-09-26,Los Angeles,Apartment,5.192957,95.0
11,8908966,2011-10-07,Venice,Apartment,5.220356,96.0
12,10994968,2011-04-01,Los Angeles,House,4.488636,99.0
15,12428036,2015-07-13,Los Angeles,Apartment,4.317488,92.0
16,4014942,2014-08-24,Los Angeles,Apartment,4.997212,95.0
17,11376382,2017-02-13,Marina Del Rey,Apartment,5.783825,80.0
19,9471893,2016-06-06,Venice,House,5.857933,93.0
21,16474211,2014-08-11,Los Angeles,Apartment,4.499810,100.0
22,20269518,2016-11-27,North Hollywood,Apartment,4.691348,100.0
23,19247305,2014-12-06,Los Angeles,Apartment,4.779123,89.0
24,11095719,2014-03-10,Los Angeles,Apartment,4.499810,100.0
27,15956956,2013-03-07,Los Angeles,Apartment,5.164786,100.0
28,6972777,2013-11-29,Monrovia,House,3.806662,80.0
29,18840866,2016-06-29,Burbank,Apartment,5.087596,84.0
30,20761244,2017-01-05,Culver City,Condominium,3.871201,92.0
31,3976798,2013-11-05,Los Angeles,House,5.560682,100.0
32,1008814,2012-04-25,Los Angeles,House,4.605170,100.0
33,10132073,2012-11-07,Studio City,Apartment,4.007333,99.0
34,14900814,2013-07-03,Los Angeles,House,6.171701,96.0
35,11593024,2014-02-08,Los Angeles,House,6.551080,99.0
37,8336708,2017-01-09,Rowland Heights,House,4.060443,100.0
38,25827,2010-07-30,Los Angeles,House,5.634790,90.0
...,...,...,...,...,...,...
22095,18055117,2012-11-29,Los Angeles,Apartment,5.129899,98.0
22096,16274951,2016-01-12,Los Angeles,Apartment,4.595120,96.0
22097,12191750,2011-10-05,Long Beach,House,5.192957,90.0
22098,6662905,2016-08-28,Los Angeles,House,4.077537,96.0
22099,15123831,2012-06-04,Los Angeles,Townhouse,4.779123,91.0
22100,16782117,2014-07-25,Los Angeles,Apartment,4.382027,100.0
22101,6044620,2016-03-16,Los Angeles,Apartment,4.787492,88.0
22102,20980071,2016-05-15,San Dimas,House,3.688879,96.0
22103,19744093,2015-09-05,Pasadena,Townhouse,4.653960,94.0
22106,7980191,2014-06-11,Los Angeles,House,4.442651,98.0
22107,6732541,2015-09-01,Studio City,House,5.075174,100.0
22108,15115733,2014-06-22,Gardena,House,4.007333,92.0
22110,11973518,2013-08-23,Venice,Apartment,5.703782,93.0
22112,1453049,2014-04-28,Los Angeles,Apartment,4.174387,92.0
22114,189787,2016-06-22,Los Angeles,Villa,6.907755,100.0
22115,9253750,2014-06-29,West Hollywood,House,4.779123,99.0
22116,20781985,2016-06-09,Los Angeles,House,4.605170,87.0
22117,15917355,2015-11-12,Los Angeles,House,5.587249,87.0
22118,9390900,2014-12-08,Altadena,House,4.605170,100.0
22120,7621698,2016-05-09,Northridge,Bed & Breakfast,4.595120,100.0
22122,4278067,2014-11-11,Los Angeles,House,4.859812,94.0
22123,9826494,2014-12-20,Pasadena,House,4.174387,98.0
22125,15042259,2013-06-29,Los Angeles,Apartment,4.477337,100.0
22127,8342838,2014-10-28,Los Angeles,Apartment,4.553877,88.0
22128,4615631,2015-11-10,Los Angeles,Condominium,4.276666,96.0
22129,18077717,2014-04-01,Santa Monica,Apartment,4.584967,90.0
22130,7935934,2013-07-01,West Hills,Villa,4.110874,80.0
22131,808802,2015-03-18,Los Angeles,House,4.248495,91.0
22132,13281809,2016-05-03,Hermosa Beach,Apartment,5.043425,93.0
22133,3534845,2012-11-26,Long Beach,Boat,4.852030,96.0

In [26]:
citydf['year']=pd.DatetimeIndex(dates['host_since']).year

ValueError: Length of values does not match length of index

In [27]:
#Place dates in the ascending order 
dates=host_listings.sort_values('host_since',ascending=True)
dates.dropna()

,id,host_since,city_y,property_type,log_price,review_scores_rating
20338,20914641,2008-06-27,Culver City,Condominium,4.804021,80.0
2197,2519442,2008-07-11,Burbank,House,5.123964,80.0
19285,20993772,2008-07-31,Los Angeles,Apartment,4.787492,100.0
14405,20709369,2008-09-17,Santa Monica,Apartment,4.976734,96.0
11979,10225348,2008-09-23,Los Angeles,House,5.549076,97.0
6787,9012988,2008-10-02,Los Angeles,House,4.369448,100.0
402,12854724,2008-10-02,Los Angeles,House,4.454347,100.0
11021,19049166,2008-10-02,Los Angeles,House,4.369448,100.0
16030,16095512,2008-10-02,Canyon Country,Apartment,3.610918,80.0
7813,9921366,2008-10-16,Studio City,Other,5.135798,96.0
13676,2023454,2008-10-16,Studio City,House,5.521461,93.0
13717,13315699,2008-12-25,West Hollywood,Apartment,5.416100,90.0
4841,17684031,2009-01-16,Los Angeles,House,5.293305,93.0
9935,6967723,2009-01-16,Los Angeles,House,4.605170,96.0
20145,12855566,2009-01-16,Los Angeles,House,3.663562,94.0
15910,17811619,2009-01-16,Los Angeles,House,3.988984,97.0
20855,15208609,2009-01-16,Los Angeles,House,4.234107,97.0
16911,13643020,2009-02-12,Santa Monica,Apartment,4.248495,77.0
9133,13018742,2009-02-12,Los Angeles,Apartment,4.553877,95.0
19828,14267804,2009-02-12,Los Angeles,House,4.219508,98.0
11138,6437565,2009-03-05,Los Angeles,House,5.713733,87.0
12919,16548251,2009-03-05,Los Angeles,House,4.653960,94.0
16070,17403713,2009-03-05,Los Angeles,Cabin,4.317488,94.0
14031,16930512,2009-03-09,Marina Del Rey,Apartment,4.553877,100.0
2872,13622777,2009-03-17,Los Angeles,House,3.688879,97.0
4459,1673346,2009-03-17,Los Angeles,House,3.891820,97.0
14919,12603543,2009-03-28,Woodland Hills,House,5.700444,83.0
6059,878390,2009-03-28,Woodland Hills,House,4.442651,86.0
10724,19768713,2009-03-28,Woodland Hills,House,5.476464,100.0
7822,16674313,2009-04-28,Los Angeles,Apartment,4.442651,93.0
...,...,...,...,...,...,...
12399,2495346,2017-04-03,Los Angeles,Loft,4.744932,87.0
14504,13546425,2017-04-03,Sherman Oaks,Guesthouse,4.499810,100.0
9067,925460,2017-04-03,Los Angeles,Apartment,4.976734,100.0
14399,1704279,2017-04-04,Los Angeles,Apartment,4.700480,100.0
18485,8893013,2017-04-05,Los Angeles,House,4.867534,100.0
2383,433060,2017-04-05,Los Angeles,Apartment,4.488636,85.0
7698,1984545,2017-04-06,Los Angeles,Apartment,5.298317,100.0
2689,14501824,2017-04-08,Van Nuys,Apartment,4.174387,100.0
4202,11634778,2017-04-08,Rowland Heights,Apartment,4.499810,90.0
16565,1936620,2017-04-09,Los Angeles,Apartment,3.737670,60.0
16749,3292910,2017-04-10,Rowland Heights,House,3.465736,100.0
18646,13002308,2017-04-11,Los Angeles,Apartment,3.912023,100.0
8208,13474702,2017-04-11,Palmdale,House,3.688879,100.0
863,6813715,2017-04-11,Topanga,House,5.241747,100.0
1610,13042902,2017-04-11,Los Angeles,House,3.555348,60.0
6738,17106418,2017-04-13,Sherman Oaks,Guesthouse,4.700480,100.0
18353,4335606,2017-04-14,Los Angeles,Guesthouse,4.248495,100.0
6100,16720662,2017-04-14,Palmdale,House,3.555348,100.0
10984,15860091,2017-04-14,Los Angeles,House,2.995732,80.0
4918,18358115,2017-04-15,Los Angeles,Apartment,5.241747,93.0
10659,7481939,2017-04-15,Los Angeles,Apartment,3.912023,80.0
12882,20071986,2017-04-16,Walnut,House,3.465736,100.0
1959,6640144,2017-04-17,Los Angeles,Apartment,4.709530,100.0
9695,299062,2017-04-17,Los Angeles,House,3.688879,80.0
6587,9230738,2017-04-18,Los Angeles,Apartment,4.317488,100.0
4908,20624372,2017-04-19,Los Angeles,Apartment,4.094345,100.0
12797,7790855,2017-04-19,Los Angeles,Apartment,4.369448,100.0
21699,16314114,2017-04-20,West Hollywood,House,5.700444,100.0
4003,17877828,2017-04-20,Los Angeles,House,5.521461,100.0
22015,2995611,2017-04-24,Los Angeles,Apartment,5.521461,100.0

In [6]:
#Creating new column year to track total # of years  
dates['year']=pd.DatetimeIndex(dates['host_since']).year
dates.head()

             id  host_since          city_y property_type    year
20338  20914641  2008-06-27     Culver City   Condominium  2008.0
2197    2519442  2008-07-11         Burbank         House  2008.0
19285  20993772  2008-07-31     Los Angeles     Apartment  2008.0
4736    6431931  2008-08-30  Marina Del Rey     Apartment  2008.0
14405  20709369  2008-09-17    Santa Monica     Apartment  2008.0

In [35]:
#Extracting year from the date to get the total # of listings per year 
dates['year'].fillna(0, inplace=True)
dates['year'] = dates['year'].astype(int)
dates.head()

KeyError: 'year'

In [34]:
dates.dropna()

,id,host_since,city_y,property_type,log_price,review_scores_rating
20338,20914641,2008-06-27,Culver City,Condominium,4.804021,80.0
2197,2519442,2008-07-11,Burbank,House,5.123964,80.0
19285,20993772,2008-07-31,Los Angeles,Apartment,4.787492,100.0
14405,20709369,2008-09-17,Santa Monica,Apartment,4.976734,96.0
11979,10225348,2008-09-23,Los Angeles,House,5.549076,97.0
6787,9012988,2008-10-02,Los Angeles,House,4.369448,100.0
402,12854724,2008-10-02,Los Angeles,House,4.454347,100.0
11021,19049166,2008-10-02,Los Angeles,House,4.369448,100.0
16030,16095512,2008-10-02,Canyon Country,Apartment,3.610918,80.0
7813,9921366,2008-10-16,Studio City,Other,5.135798,96.0
13676,2023454,2008-10-16,Studio City,House,5.521461,93.0
13717,13315699,2008-12-25,West Hollywood,Apartment,5.416100,90.0
4841,17684031,2009-01-16,Los Angeles,House,5.293305,93.0
9935,6967723,2009-01-16,Los Angeles,House,4.605170,96.0
20145,12855566,2009-01-16,Los Angeles,House,3.663562,94.0
15910,17811619,2009-01-16,Los Angeles,House,3.988984,97.0
20855,15208609,2009-01-16,Los Angeles,House,4.234107,97.0
16911,13643020,2009-02-12,Santa Monica,Apartment,4.248495,77.0
9133,13018742,2009-02-12,Los Angeles,Apartment,4.553877,95.0
19828,14267804,2009-02-12,Los Angeles,House,4.219508,98.0
11138,6437565,2009-03-05,Los Angeles,House,5.713733,87.0
12919,16548251,2009-03-05,Los Angeles,House,4.653960,94.0
16070,17403713,2009-03-05,Los Angeles,Cabin,4.317488,94.0
14031,16930512,2009-03-09,Marina Del Rey,Apartment,4.553877,100.0
2872,13622777,2009-03-17,Los Angeles,House,3.688879,97.0
4459,1673346,2009-03-17,Los Angeles,House,3.891820,97.0
14919,12603543,2009-03-28,Woodland Hills,House,5.700444,83.0
6059,878390,2009-03-28,Woodland Hills,House,4.442651,86.0
10724,19768713,2009-03-28,Woodland Hills,House,5.476464,100.0
7822,16674313,2009-04-28,Los Angeles,Apartment,4.442651,93.0
...,...,...,...,...,...,...
12399,2495346,2017-04-03,Los Angeles,Loft,4.744932,87.0
14504,13546425,2017-04-03,Sherman Oaks,Guesthouse,4.499810,100.0
9067,925460,2017-04-03,Los Angeles,Apartment,4.976734,100.0
14399,1704279,2017-04-04,Los Angeles,Apartment,4.700480,100.0
18485,8893013,2017-04-05,Los Angeles,House,4.867534,100.0
2383,433060,2017-04-05,Los Angeles,Apartment,4.488636,85.0
7698,1984545,2017-04-06,Los Angeles,Apartment,5.298317,100.0
2689,14501824,2017-04-08,Van Nuys,Apartment,4.174387,100.0
4202,11634778,2017-04-08,Rowland Heights,Apartment,4.499810,90.0
16565,1936620,2017-04-09,Los Angeles,Apartment,3.737670,60.0
16749,3292910,2017-04-10,Rowland Heights,House,3.465736,100.0
18646,13002308,2017-04-11,Los Angeles,Apartment,3.912023,100.0
8208,13474702,2017-04-11,Palmdale,House,3.688879,100.0
863,6813715,2017-04-11,Topanga,House,5.241747,100.0
1610,13042902,2017-04-11,Los Angeles,House,3.555348,60.0
6738,17106418,2017-04-13,Sherman Oaks,Guesthouse,4.700480,100.0
18353,4335606,2017-04-14,Los Angeles,Guesthouse,4.248495,100.0
6100,16720662,2017-04-14,Palmdale,House,3.555348,100.0
10984,15860091,2017-04-14,Los Angeles,House,2.995732,80.0
4918,18358115,2017-04-15,Los Angeles,Apartment,5.241747,93.0
10659,7481939,2017-04-15,Los Angeles,Apartment,3.912023,80.0
12882,20071986,2017-04-16,Walnut,House,3.465736,100.0
1959,6640144,2017-04-17,Los Angeles,Apartment,4.709530,100.0
9695,299062,2017-04-17,Los Angeles,House,3.688879,80.0
6587,9230738,2017-04-18,Los Angeles,Apartment,4.317488,100.0
4908,20624372,2017-04-19,Los Angeles,Apartment,4.094345,100.0
12797,7790855,2017-04-19,Los Angeles,Apartment,4.369448,100.0
21699,16314114,2017-04-20,West Hollywood,House,5.700444,100.0
4003,17877828,2017-04-20,Los Angeles,House,5.521461,100.0
22015,2995611,2017-04-24,Los Angeles,Apartment,5.521461,100.0

In [33]:
hostsince=dates.dropna()
hostsince
hostsince.to_csv("Data/citydates.csv")
hostsince

,id,host_since,city_y,property_type,log_price,review_scores_rating
20338,20914641,2008-06-27,Culver City,Condominium,4.804021,80.0
2197,2519442,2008-07-11,Burbank,House,5.123964,80.0
19285,20993772,2008-07-31,Los Angeles,Apartment,4.787492,100.0
4736,6431931,2008-08-30,Marina Del Rey,Apartment,4.442651,NaN
14405,20709369,2008-09-17,Santa Monica,Apartment,4.976734,96.0
11979,10225348,2008-09-23,Los Angeles,House,5.549076,97.0
5408,18841477,2008-09-25,Bellflower,Apartment,4.382027,NaN
3889,4235547,2008-09-25,Burbank,House,5.669881,NaN
6787,9012988,2008-10-02,Los Angeles,House,4.369448,100.0
402,12854724,2008-10-02,Los Angeles,House,4.454347,100.0
11021,19049166,2008-10-02,Los Angeles,House,4.369448,100.0
16030,16095512,2008-10-02,Canyon Country,Apartment,3.610918,80.0
7813,9921366,2008-10-16,Studio City,Other,5.135798,96.0
10042,18370840,2008-10-16,Studio City,House,5.814131,NaN
13676,2023454,2008-10-16,Studio City,House,5.521461,93.0
13717,13315699,2008-12-25,West Hollywood,Apartment,5.416100,90.0
4841,17684031,2009-01-16,Los Angeles,House,5.293305,93.0
9935,6967723,2009-01-16,Los Angeles,House,4.605170,96.0
20145,12855566,2009-01-16,Los Angeles,House,3.663562,94.0
15910,17811619,2009-01-16,Los Angeles,House,3.988984,97.0
20855,15208609,2009-01-16,Los Angeles,House,4.234107,97.0
16911,13643020,2009-02-12,Santa Monica,Apartment,4.248495,77.0
9133,13018742,2009-02-12,Los Angeles,Apartment,4.553877,95.0
19828,14267804,2009-02-12,Los Angeles,House,4.219508,98.0
12347,15803180,2009-03-05,Los Angeles,House,4.248495,NaN
11138,6437565,2009-03-05,Los Angeles,House,5.713733,87.0
12919,16548251,2009-03-05,Los Angeles,House,4.653960,94.0
16070,17403713,2009-03-05,Los Angeles,Cabin,4.317488,94.0
14031,16930512,2009-03-09,Marina Del Rey,Apartment,4.553877,100.0
2872,13622777,2009-03-17,Los Angeles,House,3.688879,97.0
...,...,...,...,...,...,...
17804,6700172,2017-04-29,Long Beach,House,3.850148,NaN
18058,13031854,2017-04-29,Marina Del Rey,Loft,4.744932,NaN
5363,14242888,2017-04-29,Inglewood,Condominium,4.174387,NaN
16618,14709106,2017-04-30,Los Angeles,Apartment,3.688879,NaN
4056,3971900,2017-04-30,Long Beach,House,3.401197,NaN
3112,13875227,2017-04-30,Van Nuys,Condominium,5.010635,NaN
1690,15973838,2017-04-30,Los Angeles,Apartment,4.025352,NaN
12842,3953554,2017-04-30,Beverly Hills,House,6.684612,NaN
19767,9664537,2017-04-30,North Hills,House,4.094345,NaN
20841,4614763,2017-05-01,West Hollywood,Apartment,4.744932,NaN
4986,4623622,2017-05-01,Los Angeles,Apartment,6.476972,NaN
4741,2545771,2017-05-01,Los Angeles,Apartment,4.382027,NaN
15840,11345911,2017-05-01,Los Angeles,Apartment,3.610918,NaN
22087,9822032,2017-05-01,Los Angeles,Apartment,4.595120,NaN
7765,11753760,2017-05-01,Malibu,House,6.549651,NaN
15674,12704399,2017-05-01,Hacienda Heights,House,4.248495,NaN
13128,201579,2017-05-01,Los Angeles,Apartment,5.327876,NaN
12259,15216399,2017-05-01,Los Angeles,Apartment,4.094345,NaN
14807,18853435,2017-05-01,Palmdale,House,4.317488,NaN
20590,19928373,2017-05-02,Los Angeles,Apartment,3.526361,NaN
21118,10996409,2017-05-02,Los Angeles,Apartment,5.017280,NaN
788,13698474,NaN,Tarzana,Condominium,4.382027,100.0
4812,5248248,NaN,Los Angeles,House,4.248495,NaN
7706,20054159,NaN,Beverly Hills,Apartment,4.584967,96.0
7834,7956643,NaN,Alhambra,House,5.521461,97.0
10797,6990503,NaN,Los Angeles,Apartment,3.688879,NaN
11411,16779530,NaN,Los Angeles,Apartment,4.094345,100.0
16241,624222,NaN,Long Beach,Apartment,5.164786,100.0
17862,18176917,NaN,Malibu,Condominium,5.700444,NaN
19489,4551090,NaN,Los Angeles,Apartment,4.317488,NaN

In [72]:
#Group by the year to get the total counts of hosts in that year
host_df=dates.groupby(["year"]).count()
host_df

        id  host_since  city_y  property_type
year
0        9           0       9              9
2008    16          16      16             16
2009   136         136     136            136
2010   413         413     413            413
2011  1261        1261    1261           1261
2012  2301        2301    2301           2301
2013  3159        3159    3159           3159
2014  4091        4091    4091           4091
2015  4996        4996    4996           4996
2016  4769        4769    4769           4769
2017   983         983     983            983

In [73]:
#Keeping only 5 years from 2011-2016 to show total # of listings overtime
host_df = host_df[4:10]
host_df

        id  host_since  city_y  property_type
year
2011  1261        1261    1261           1261
2012  2301        2301    2301           2301
2013  3159        3159    3159           3159
2014  4091        4091    4091           4091
2015  4996        4996    4996           4996
2016  4769        4769    4769           4769

In [68]:
host_df.to_csv("Data/host_df.csv")

In [4]:
type("host_since")

str