In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
path = "Data/clean_data.csv"

data = pd.read_csv(path)
data.head()

,Unnamed: 0,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,...,bedrooms,beds,zip_lat,zip_lng,city_y,state_id,state_name,population,density,county_name
0,6,11825529,4.418841,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",3,1.0,Real Bed,moderate,...,1.0,1.0,33.97831,-118.44761,Marina Del Rey,CA,California,21576.0,4091.9,Los Angeles
1,7,13971273,4.787492,Condominium,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Wheelchair...",2,1.0,Real Bed,moderate,...,1.0,1.0,34.03939,-118.26645,Los Angeles,CA,California,18986.0,4285.4,Los Angeles
2,9,5385260,3.583519,House,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1.0,Real Bed,moderate,...,1.0,1.0,33.97661,-117.89970,Rowland Heights,CA,California,45406.0,1211.8,Los Angeles
3,11,17423675,5.010635,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.5,Real Bed,strict,...,2.0,2.0,33.86546,-118.39665,Hermosa Beach,CA,California,19506.0,5278.8,Los Angeles
4,12,14066228,4.248495,Apartment,Private room,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",2,1.0,Real Bed,flexible,...,1.0,1.0,33.83077,-118.38458,Redondo Beach,CA,California,35293.0,3804.3,Los Angeles

In [4]:
data.drop(data.columns[[0]], axis=1, inplace=True)
data.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,bedrooms,beds,zip_lat,zip_lng,city_y,state_id,state_name,population,density,county_name
0,11825529,4.418841,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",3,1.0,Real Bed,moderate,True,...,1.0,1.0,33.97831,-118.44761,Marina Del Rey,CA,California,21576.0,4091.9,Los Angeles
1,13971273,4.787492,Condominium,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Wheelchair...",2,1.0,Real Bed,moderate,True,...,1.0,1.0,34.03939,-118.26645,Los Angeles,CA,California,18986.0,4285.4,Los Angeles
2,5385260,3.583519,House,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1.0,Real Bed,moderate,True,...,1.0,1.0,33.97661,-117.89970,Rowland Heights,CA,California,45406.0,1211.8,Los Angeles
3,17423675,5.010635,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.5,Real Bed,strict,True,...,2.0,2.0,33.86546,-118.39665,Hermosa Beach,CA,California,19506.0,5278.8,Los Angeles
4,14066228,4.248495,Apartment,Private room,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",2,1.0,Real Bed,flexible,True,...,1.0,1.0,33.83077,-118.38458,Redondo Beach,CA,California,35293.0,3804.3,Los Angeles

In [84]:
# GroupBy Ratings and City 
ratings = data[["id","city_y","review_scores_rating","property_type"]]
ratings.head()

         id           city_y  review_scores_rating property_type
0  11825529   Marina Del Rey                  97.0     Apartment
1  13971273      Los Angeles                  93.0   Condominium
2   5385260  Rowland Heights                  90.0         House
3  17423675    Hermosa Beach                  97.0         House
4  14066228    Redondo Beach                   NaN     Apartment

In [86]:
city_rating=ratings.dropna()

In [87]:
city_rating.head()

         id           city_y  review_scores_rating property_type
0  11825529   Marina Del Rey                  97.0     Apartment
1  13971273      Los Angeles                  93.0   Condominium
2   5385260  Rowland Heights                  90.0         House
3  17423675    Hermosa Beach                  97.0         House
5    583490       Long Beach                 100.0     Apartment

In [53]:
#Taking the average of scores in Los Angeles 
df1=city_rating.loc[:,["id","city_y","review_scores_rating"]]
la_score = df1[df1.city_y == "Los Angeles"]
la_score.head()

          id       city_y  review_scores_rating
1   13971273  Los Angeles                  93.0
7    3563677  Los Angeles                  99.0
9     851978  Los Angeles                  95.0
12  10994968  Los Angeles                  99.0
15  12428036  Los Angeles                  92.0

In [95]:
score_df=city_rating.groupby(['city_y']).median().sort_values('review_scores_rating',ascending=True)[["review_scores_rating"]]
score_df

                     review_scores_rating
city_y
Brea                                 20.0
Lynwood                              82.0
Mission Hills                        83.0
Sun Valley                           91.5
Bellflower                           92.5
Playa Vista                          93.0
La Verne                             93.0
San Gabriel                          93.0
Hawthorne                            93.0
Walnut                               93.5
Montebello                           94.0
South El Monte                       94.0
Hacienda Heights                     94.0
Canyon Country                       94.5
Inglewood                            95.0
Paramount                            95.0
Monterey Park                        95.0
Lomita                               95.0
Lancaster                            95.0
La Puente                            95.0
West Covina                          95.0
Granada Hills                        95.0
Tarzana                              95.0
Pacoima                              95.0
Torrance                             95.0
Canoga Park                          95.5
Rancho Palos Verdes                  95.5
San Dimas                            95.5
Sierra Madre                         95.5
Alhambra                             95.5
...                                   ...
Woodland Hills                       98.0
Pasadena                             98.0
Huntington Park                      98.0
La Crescenta                         98.0
Winnetka                             98.0
Lawndale                             98.0
West Hills                           98.5
Sherman Oaks                         99.0
Palmdale                             99.0
North Hills                          99.0
Chatsworth                           99.0
Compton                              99.0
Norwalk                              99.0
Lakewood                             99.0
Glendora                             99.0
Encino                               99.0
Santa Clarita                        99.5
Valyermo                             99.5
Covina                               99.5
Lake Hughes                          99.5
Newhall                             100.0
Cypress                             100.0
Sunland                             100.0
Baldwin Park                        100.0
Santa Fe Springs                    100.0
Littlerock                          100.0
Whittier                            100.0
Wilmington                          100.0
San Marino                          100.0
South Gate                          100.0

[123 rows x 1 columns]

In [96]:
score_df.to_csv('Data/score_df')