In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
path = "Data/clean_data.csv"

data = pd.read_csv(path)
data.head()

,Unnamed: 0,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,...,bedrooms,beds,zip_lat,zip_lng,city_y,state_id,state_name,population,density,county_name
0,6,11825529,4.418841,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",3,1.0,Real Bed,moderate,...,1.0,1.0,33.97831,-118.44761,Marina Del Rey,CA,California,21576.0,4091.9,Los Angeles
1,7,13971273,4.787492,Condominium,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Wheelchair...",2,1.0,Real Bed,moderate,...,1.0,1.0,34.03939,-118.26645,Los Angeles,CA,California,18986.0,4285.4,Los Angeles
2,9,5385260,3.583519,House,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1.0,Real Bed,moderate,...,1.0,1.0,33.97661,-117.89970,Rowland Heights,CA,California,45406.0,1211.8,Los Angeles
3,11,17423675,5.010635,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.5,Real Bed,strict,...,2.0,2.0,33.86546,-118.39665,Hermosa Beach,CA,California,19506.0,5278.8,Los Angeles
4,12,14066228,4.248495,Apartment,Private room,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",2,1.0,Real Bed,flexible,...,1.0,1.0,33.83077,-118.38458,Redondo Beach,CA,California,35293.0,3804.3,Los Angeles

In [22]:
data.drop(data.columns[[0]], axis=1, inplace=True)
data.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,bedrooms,beds,zip_lat,zip_lng,city_y,state_id,state_name,population,density,county_name
0,11825529,4.418841,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",3,1.0,Real Bed,moderate,True,...,1.0,1.0,33.97831,-118.44761,Marina Del Rey,CA,California,21576.0,4091.9,Los Angeles
1,13971273,4.787492,Condominium,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Wheelchair...",2,1.0,Real Bed,moderate,True,...,1.0,1.0,34.03939,-118.26645,Los Angeles,CA,California,18986.0,4285.4,Los Angeles
2,5385260,3.583519,House,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1.0,Real Bed,moderate,True,...,1.0,1.0,33.97661,-117.89970,Rowland Heights,CA,California,45406.0,1211.8,Los Angeles
3,17423675,5.010635,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.5,Real Bed,strict,True,...,2.0,2.0,33.86546,-118.39665,Hermosa Beach,CA,California,19506.0,5278.8,Los Angeles
4,14066228,4.248495,Apartment,Private room,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",2,1.0,Real Bed,flexible,True,...,1.0,1.0,33.83077,-118.38458,Redondo Beach,CA,California,35293.0,3804.3,Los Angeles

In [25]:
# GroupBy City
city = data[["id", "city_y", "zip"]]
city.head()

         id           city_y      zip
0  11825529   Marina Del Rey  90292.0
1  13971273      Los Angeles  90015.0
2   5385260  Rowland Heights  91748.0
3  17423675    Hermosa Beach  90254.0
4  14066228    Redondo Beach  90277.0

In [40]:
# Count Each City
count = city["city_y"].value_counts()
count

Los Angeles               11064
Venice                     1274
Long Beach                  796
Santa Monica                705
North Hollywood             555
Pasadena                    424
Marina Del Rey              378
West Hollywood              374
Beverly Hills               330
Malibu                      280
Van Nuys                    279
Rowland Heights             258
Sherman Oaks                253
Redondo Beach               224
Woodland Hills              216
Glendale                    205
Burbank                     195
Culver City                 191
Studio City                 191
Arcadia                     176
Topanga                     139
Inglewood                   137
Manhattan Beach             126
Altadena                    122
Torrance                    115
Alhambra                    113
San Gabriel                 112
Pacific Palisades           109
Valley Village              102
Monterey Park                99
                          ...
Porter Ranch                 12
South Gate                   12
Pacoima                      12
Montebello                   12
Harbor City                  11
Compton                      11
Castaic                      11
Palos Verdes Peninsula       10
San Fernando                 10
Signal Hill                   9
South El Monte                9
Lynwood                       9
Montrose                      8
Wilmington                    8
Sierra Madre                  8
San Marino                    8
Paramount                     6
Hawaiian Gardens              6
Littlerock                    5
Baldwin Park                  4
Huntington Park               3
Valyermo                      2
Artesia                       2
Bell Gardens                  2
Lake Hughes                   2
Mission Hills                 2
Santa Fe Springs              2
Brea                          1
Cypress                       1
Irvine                        1
Name: city_y, Length: 125, dtype: int64

In [42]:
count_df = pd.DataFrame(count)
count_df

                        city_y
Los Angeles              11064
Venice                    1274
Long Beach                 796
Santa Monica               705
North Hollywood            555
Pasadena                   424
Marina Del Rey             378
West Hollywood             374
Beverly Hills              330
Malibu                     280
Van Nuys                   279
Rowland Heights            258
Sherman Oaks               253
Redondo Beach              224
Woodland Hills             216
Glendale                   205
Burbank                    195
Culver City                191
Studio City                191
Arcadia                    176
Topanga                    139
Inglewood                  137
Manhattan Beach            126
Altadena                   122
Torrance                   115
Alhambra                   113
San Gabriel                112
Pacific Palisades          109
Valley Village             102
Monterey Park               99
...                        ...
Porter Ranch                12
South Gate                  12
Pacoima                     12
Montebello                  12
Harbor City                 11
Compton                     11
Castaic                     11
Palos Verdes Peninsula      10
San Fernando                10
Signal Hill                  9
South El Monte               9
Lynwood                      9
Montrose                     8
Wilmington                   8
Sierra Madre                 8
San Marino                   8
Paramount                    6
Hawaiian Gardens             6
Littlerock                   5
Baldwin Park                 4
Huntington Park              3
Valyermo                     2
Artesia                      2
Bell Gardens                 2
Lake Hughes                  2
Mission Hills                2
Santa Fe Springs             2
Brea                         1
Cypress                      1
Irvine                       1

[125 rows x 1 columns]

In [35]:
# Total Count

total_cities_name = len(city["city_y"].value_counts())
total_cities_count = city["city_y"].count()



# Create new DataFrame
city_analysis = pd.DataFrame({"Number of City": [total_cities_name],
                               "Total Listing": [total_cities_count]})
city_analysis

   Number of City  Total Listing
0             125          22134

In [39]:
# Percentage of each cities